.HomePageWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.HomeBannerWrap {
    display: flex;
    flex-direction: column;
    height: 550px;
}

.HomeBannerCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
    padding: 100px 20px;
}

.PowerTextStyle {
    font-size: 54px;
    font-weight: bold;
}

.DTEXT {
    font-size: 270px;
    font-weight: bold;
    color: #bf373c;
}

/* portfolio */

.PortFolioWrap {
    display: flex;
    flex-direction: column;
}

.PortFolioHeader {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-xl);
    font-weight: bold;
}

.PortFolioImgCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 26px;
    gap: 120px;
}

/* companyData */

.CompanyDataWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.OneCompanyHeadText {
    font-size: var(--font-size-lg);
    font-weight: bold;
    padding: 12px;
}

.CompanyDataCounteWrap {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 350px; */
    padding: 36px 8px;
}

.CompanyDataCounterCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 28%;
}

.CounterContHeadText {
    font-size: var(--font-size-md);
    font-weight: 600;
}

.CounterContCountext {
    font-size: var(--font-size-xl);
    font-weight: 900;
    color: #fd4238;
}

/* homwAboutSection */

.HomeAboutSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px;
}

.HomeAboutSectionWrap {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.HomeAboutCont {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.HomeAboutHeadText {
    font-size: 22px;
    line-height: 25px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 500;
}

.HomeAboutBigText {
    font-size: var(--font-size-xl);
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
}

.HomeAboutBigText {
    white-space: normal;
    /* Default behavior */
}

.HomeAboutDescription {
    font-size: var(--font-size-sm);
    line-height: 25px;
}

.HomeAboutImageCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.HomeAboutImageItem {
    overflow: hidden;
    width: 100%;
    border-radius: 50%;
    height: 500px;

}

.HomeAboutImageStyle {
    /* background-image: url('../../images/dulscoImg.png'); */
    background-size: cover;
    background-position: 50%;
}

.face.face1 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 90909;
    border-radius: 50%;
    border-left: 1px solid #fa6e68;
    border-top: 1px solid #fa6e68;
    animation: ani1 12s linear infinite;
}

.face {
    position: absolute;
    border: 2px solid transparent;
}

.circle {
    transform: rotate(-105deg);
}

.circle {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 2px;
    transform-origin: left;
}

.orngArrowWrap {
    display: inline-flex;
    white-space: nowrap;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 12px;
}

.orngArrowCont {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 15px 0px;
    color: #fd4238;
    border: 1px solid #fd4238;
    border-radius: 10px;
}

.orngArrowCont:hover {
    background-color: #fd4238;
    color: white;
    cursor: pointer;
}

/* managingDirector */

.ManagingDirectorSection {
    margin-top: 100px;

    background-color: #002a3a;

    /* background: linear-gradient(to bottom,
            white 50%,
            #002a3a 50%); */
}

.DirectorImgCont {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom,
            white 50%,
            #002a3a 50%);
}

.DirectorImg {
    width: 80%;
    border-radius: 12px;
}

.WeDoContainer {
    padding: 0 4%;
    margin-top: 16px;
}

.WeDoWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 0px;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.WeDoText {
    font-size: var(--font-size-xl);
    color: white;
    font-weight: 700;
}

.ViewPortFolioButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 15px 12px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.ViewPortFolioButton:hover {
    background-color: #fd4238;
    color: white;
    border: 1px solid #fd4238;
    cursor: pointer;
}

.WeDoCardListWrap {
    display: flex;
    justify-content: center;
    gap: 50px;

    margin-top: 20px;
}

.WeDoCardListLeft {
    width: 45%;

}

.WeDoCard {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding-bottom: 50px;
}

.WeDoCard:nth-child(2) {
    margin-top: 50px;
    border-bottom: none;
}


.WeDoCardListRight {
    width: 45%;
    padding-top: 120px;
}

.WeDoCardImg {
    border-radius: 12px;
    width: 100%;
}

.WeDoCardTitle {
    font-size: var(--font-size-lg);
    color: white;
    font-weight: 500;
    padding: 12px 0px;
}

.WeDoCardDesc {
    font-size: var(--font-size-sm);
    color: white;
    opacity: 0.8;
    padding: 6px 0px;
    line-height: 22px;
}

/* sectorsWeServe */
.sectorsWeServeWrap {
    margin-top: 100px;
}

.sectorsHead {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 0 4%;
}

.sectorHeadText {
    font-size: var(--font-size-xl);
    color: black;
    font-weight: 700;
}

.sectorHeadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 15px 12px;
    color: #fd4238;
    border: 1px solid #fd4238;
    border-radius: 10px;
}

.sectorHeadButton:hover {
    background-color: #fd4238;
    color: white;
    border: 1px solid #fd4238;
    cursor: pointer;
}

/* socialImpact */
.SocialImpactWrap {
    margin-top: 100px;
    padding: 0 4%;
}

.SocialImpactHeadText {
    font-size: var(--font-size-xl);
    font-weight: 700;
}

.SocialImpactCircleCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;

    padding-top: 50px;
}

.SocialImpactLeft,
.SocialImpactRight {
    width: 45%;
}

.EnvAndSustCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 450px;
    height: 450px;
    border-radius: 50%;

    margin-top: 100px;

    /* overflow: hidden; */

    background-image: url('../../images/EnvSust.jpg');
    background-size: cover;

    position: relative;

    transition: transform 0.5s ease;
    /* Smooth zoom transition */
    transform: scale(1);
    /* Initial scale */
}

.EnvAndSustCont:hover {
    transform: scale(1.05);
    /* Zoom effect on hover */
}

.HealthSafetCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 425px;
    height: 425px;
    border-radius: 50%;

    /* overflow: hidden; */

    background-image: url('../../images/HealthSafety.jpg');
    background-size: cover;

    position: relative;

    transition: transform 0.5s ease;
    /* Smooth zoom transition */
    transform: scale(1);
    /* Initial scale */
}

.HealthSafetCont:hover {
    transform: scale(1.05);
    /* Zoom effect on hover */
}



.OurPeopleCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 425px;
    height: 425px;
    border-radius: 50%;

    /* overflow: hidden; */

    background-image: url('../../images/ourPeople.jpg');
    background-size: cover;

    margin-top: 50px;

    position: relative;

    transition: transform 0.5s ease;
    /* Smooth zoom transition */
    transform: scale(1);
    /* Initial scale */
}

.OurPeopleCont:hover {
    transform: scale(1.05);
    /* Zoom effect on hover */
}

.CommunityCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 425px;
    height: 425px;
    border-radius: 50%;

    /* overflow: hidden; */

    background-image: url('../../images/community.jpg');
    background-size: cover;

    margin-top: 50px;

    position: relative;

    transition: transform 0.5s ease;
    /* Smooth zoom transition */
    transform: scale(1);
    /* Initial scale */
}

.CommunityCont:hover {
    transform: scale(1.05);
    /* Zoom effect on hover */
}

.Spinner {

    border-radius: 50%;
    border-right: 1px solid #3c5c68;
    border-bottom: 1px solid #3c5c68;
    animation: ani1 16s linear infinite;

    width: 450px;
    height: 450px;

    position: absolute;
}

.SpinnerBig {

    border-radius: 50%;
    border-right: 1px solid #3c5c68;
    border-bottom: 1px solid #3c5c68;
    animation: ani1 16s linear infinite;

    width: 480px;
    height: 480px;

    position: absolute;
}

.SocialImpactTitleText {
    font-size: var(--font-size-lg);
    color: white;
    font-weight: 600;
    padding: 2px 2%;
}

.SocialImpactDescText {
    font-size: var(--font-size-sm);
    color: white;
    font-weight: 400;
    line-height: 20px;
    padding: 2px 4%;
}


.SocialImpactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 15px 12px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;

    margin-top: 16px;
    z-index: 5;
}

.SocialImpactButton:hover {
    background-color: #fd4238;
    color: white;
    border: 1px solid #fd4238;
    cursor: pointer;
}

.SocialImpactBottomCircle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* latestNews */
.LatestNewsWrap {
    background-color: #002a3a;
    padding: 30px 0px;
    margin-top: 100px;
}

.LatesNewsHeadText {
    font-size: var(--font-size-xl);
    color: white;
    opacity: 0.85;
    font-weight: 600;
    padding: 0px 4%;
}

/* pledges */

.PledgesWrap {
    background-color: white;
    padding: 100px 0px;
    margin-top: 30px;
}

.PledgesHeadText {
    font-size: var(--font-size-xl);
    color: #002a3a;
    opacity: 0.85;
    font-weight: 600;
    padding: 0px 4%;
}

/* credentialsCarousel */

.CredentialsWrap {
    background-color: #002a3a;
    padding: 100px 0px;
    margin-top: 50px;
}

.CredentialsHeadText {
    font-size: var(--font-size-xl);
    color: white;
    font-weight: 600;
    padding: 0px 4%;
}

/* footer */

.FooterWrap {
    padding: 50px 4%;
    background-color: #343434;

    margin-top: 50px;

    display: flex;
    flex-direction: column;

}

.FooterTopCont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.FooterQuickLinksCont,
.FooterLocationCont {
    width: 35%;

    display: flex;
    flex-direction: column;
}

.FooterContHeadText {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: white;
}

.FooterLinksCont,
.FooterLocationItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.FooterLinksCont>div {
    padding: 6px;
    width: 45%;
    font-size: 14px;
    color: white;
    margin-bottom: 8px;
}

.FooterLocationItems>div {
    padding: 6px 0px;
    width: 33%;
    font-size: 14px;
    color: white;
    margin-bottom: 8px;
}

.FooterIconsCont {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.FooterImg1 {
    width: 200px;
}

.FooterImg2 {
    width: 104px;
}

.FooterBottomCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 4px;
}

.FooterCopyText {
    font-size: 14px;
    color: white;
}

.FooterSocialCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.FooterSocialCont>div {
    color: white;
    font-size: 14px;
}

.FooterSocialItemCont {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* animations */

/* Define the initial and final state of the text */
@keyframes slideUp {
    0% {
        transform: translateY(100px);
        /* Start from below the viewport */
        opacity: 0;
        /* Start invisible */
    }

    100% {
        transform: translateY(0);
        /* End at its original position */
        opacity: 1;
        /* Become fully visible */
    }
}

/* Add a class for the animated text */
.animate-slide-up {
    animation: slideUp 0.4s ease-out forwards;
    /* Apply the animation */
}

/* Optionally, you can add some other styles */
.HomeBannerCont {
    position: relative;
    text-align: center;
}

.PowerTextStyle,
.DTEXT {
    opacity: 0;
    animation-delay: 0.3s;
    /* Delay the animation for 'DTEXT' */
}

/* Apply initial opacity to images */
.PortFolioImgCont div {
    opacity: 0;
}

.CompanyDataWrap {
    opacity: 0;
}

.PortFolioImgCont div:nth-child(1) {
    animation-delay: 0.4s;
}

.PortFolioImgCont div:nth-child(2) {
    animation-delay: 0.4s;
}

.PortFolioImgCont div:nth-child(3) {
    animation-delay: 0.4s;
}

.PortFolioImgCont div:nth-child(4) {
    animation-delay: 0.4s;
}


.HomeAboutCont,
.HomeAboutImageCont {
    opacity: 0;
    transform: translateX(30px);
    /* Start slightly off-screen */
}

.DirectorImgCont,
.WeDoWrap,
.WeDoCard {
    opacity: 0;
}

.WeDoCardImgCont {
    overflow: hidden;
}

.WeDoCardImg {
    transition: transform 0.3s ease;
    /* Smooth transition for the zoom effect */
}

.WeDoCardImg:hover {
    transform: scale(1.1);
    /* Adjust scale factor as needed */
}

/* Slide-in animation when the element comes into view */
@keyframes slideInLeft {
    from {
        transform: translateX(-30);
        /* Start from the left */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(30px);
        /* Start from the right */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply animations when in view */
.animate-from-left {
    animation: slideInLeft 0.8s ease-out forwards;
}

.animate-from-right {
    animation: slideInRight 0.8s ease-out forwards;
}

/* Optionally, for the whole section, if you want to animate everything */
.animate-slide-in {
    animation: slideInLeft 0.8s ease-out forwards;
}

@keyframes ani1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

/* mediaquery */

@media (max-width:1020px) {

    .Spinner {
        width: 380px;
        height: 380px;
    }

    .HealthSafetCont,
    .OurPeopleCont,
    .CommunityCont {
        width: 350px;
        height: 350px;
    }

    .SocialImpactCircleCont {
        gap: 64px;
        padding-top: 0px;
    }
}

@media (max-width:1006px) {
    .HomeBannerCont {
        gap: 100px;
        padding: 80px 0px;
    }

    .PortFolioImgCont {
        flex-wrap: wrap;
        align-items: center;
        gap: 60px;
    }
}

@media (max-width:900px) {
    .SocialImpactCircleCont {
        flex-direction: column;
        align-items: center;
    }

    .SocialImpactLeft,
    .SocialImpactRight {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Spinner {
        width: 480px;
        height: 480px;
    }

    .HealthSafetCont,
    .OurPeopleCont,
    .CommunityCont {
        width: 450px;
        height: 450px;
    }

}

@media (max-width:860px) {
    .HomeBannerCont {
        display: block;
    }

    .PowerTextStyle {
        font-size: 50px;
    }

    .DTEXT {
        font-size: 200px;
    }

    .DuscoMaskImg {
        width: 400px;
    }

    .HomeAboutSectionWrap {
        flex-direction: column;
    }

    .HomeAboutCont {
        width: 95%;
    }

    .HomeAboutHeadText {
        text-align: center;
    }

    .HomeAboutBigText {
        text-align: center;
        white-space: nowrap;
    }

    .HomeAboutDescription {
        text-align: center;
    }

    .orngArrowWrap {
        justify-content: center;
    }

    .orngArrowCont {
        width: 60%;
    }

    .HomeAboutImageCont {
        margin-top: 16px;
        width: 100%;
    }

    .HomeAboutImageItem {
        height: 400px;
    }
}

@media (max-width:830px) {
    .CompanyDataCounteWrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .CompanyDataCounterCont {
        gap: 18px;
        flex-direction: row-reverse;
        padding-left: 20%;
    }

    .OneCompanyHeadText {
        text-align: center;
    }

    .FooterTopCont {
        flex-direction: column;
        gap: 30px;
    }

    .FooterQuickLinksCont,
    .FooterLocationCont {
        width: 100%;
    }

    .FooterLinksCont,
    .FooterLocationItems {
        width: 100%;
        justify-content: space-between;
    }

    .FooterLinksCont>div {
        width: 20%;
    }

    .FooterLocationItems>div {
        width: 25%;
    }

    .FooterIconsCont {
        width: 100%;
        gap: 16px;
    }

    .FooterBottomCont {
        align-items: center;
        gap: 12px;
        flex-direction: column-reverse;
    }
}

@media (max-width:760px) {
    .DirectorImg {
        width: 90%;

    }

    .WeDoCardListWrap {
        flex-direction: column;
        align-items: center;
    }

    .WeDoCardListLeft,
    .WeDoCardListRight {
        width: 90%;
    }

    .WeDoCardListRight {
        padding-top: 12px;
    }

    .WeDoCard:nth-child(2) {
        border-bottom: 1px solid grey;
    }

    .WeDoWrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        padding: 20px 0px;
    }

    .sectorsHead {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        padding: 20px 8px;
    }

    .ManagingDirectorSection,
    .sectorsWeServeWrap,
    .SocialImpactWrap {
        margin-top: 50px;
    }
}

@media (max-width:500px) {

    .FooterLocationItems>div,
    .FooterLinksCont>div {
        width: 30%;
    }
}